.main-page {
  display: flex;
  width: 100%;
  height: 100vh;

  &__quiz-field {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background: #f5f5f7;
  }

  &__question {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
  }

  &__answers {
    margin: 0 auto;
    max-width: 820px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  &__answer {
    display: flex;
    justify-content: center;

    margin: 0 16px 32px;
  }

  &__levels {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    overflow: hidden;
  }

  &__level {
    margin-bottom: 8px;
  }
}

.close {
  display: none;
  position: absolute;
  top: 10px;
  right: 20px;

  font-size: 22px;
  font-weight: bold;

  color: #1c1c21;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .main-page__answers {
    max-width: 640px;
  }
}

@media (max-width: 992px) {
  .main-page {
    position: relative;

    &__quiz-field {
      width: 100%;
      padding: 6px;
      text-align: center;
    }

    &__question {
      font-size: 18px;
    }

    &__levels {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;

      width: 100%;
      display: none;
    }

    &__levels--show {
      display: flex;
      z-index: 1;
      background: #f5f5f7;
    }

    &__level {
      font-size: 16px;
    }
  }

  .close {
    display: block;
  }
}

@media (max-width: 768px) {
  .main-page {
    &__answers {
      flex-direction: column;
      align-items: center;
    }

    &__answer {
      width: 90%;
      margin: 0 0 8px;
    }
  }
}

@media (max-width: 812px) and (orientation: landscape) {
  .main-page__level {
    height: 22px;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 2px;
  }
}
